/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  /* Fill the width so we can measure how much space they have available */
  display: block;
  min-inline-size: 0;
  max-inline-size: 100%;

  --citations-background-color: light-dark(var(--color-violet-0), var(--color-violet-80));
  --citations-background-color-hover: light-dark(color-mix(in srgb, var(--color-violet-50) 15%, transparent), var(--color-violet-110));

  @media -moz-pref("browser.nova.enabled") {
    --citations-background-color: light-dark(color-mix(in srgb, var(--color-violet-desaturated-10) 70%, transparent), var(--color-violet-desaturated-60));
    --citations-background-color-hover: var(--citations-background-color);
  }

  @media (forced-colors) {
    --citations-background-color: ButtonFace;
    --citations-background-color-hover: SelectedItem;
  }
}

.citations {
  gap: var(--space-xsmall);

  ai-website-chip::part(chip):hover {
    /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
    background-color: var(--citations-background-color-hover);
  }

  ai-website-chip::part(chip):focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);

    @media (not (forced-colors)) {
      border-color: transparent;
    }
  }

  /* Make moz-button match the chip styling. */
  moz-button {
    --button-background-color-ghost: var(--citations-background-color);
    --button-background-color-ghost-hover: var(--citations-background-color-hover);
    --button-border-radius: var(--border-radius-large);
    --button-font-size: var(--font-size-small);
    --button-font-weight: var(--font-weight);
    --button-min-height: 0;
    --button-padding: var(--space-xxsmall) var(--space-small);
    --button-text-color-ghost: light-dark(var(--color-violet-90), var(--color-violet-10));
    white-space: nowrap;

    @media -moz-pref("browser.nova.enabled") {
      --button-text-color-ghost: light-dark(var(--color-violet-desaturated-90), var(--color-violet-desaturated-0));
    }
  }
}
