/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

moz-button.memories-icon-button {
  --button-icon-fill: light-dark(var(--color-gray-70), white);
  --button-background-color-ghost-selected: transparent;
}
