/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/design-system/text-and-typography.css");

/*
 Bug 1972702: Remove the following TODOs
  TODO: need dark mode theming for the following:
    * color-violet-80 (message-text-color)
    * color-violet-0 (background-color)
    * color-violet-30 (border-color)
  TODO: need HCM styles
*/

:host {
  --promo-message-text-color: var(--text-color);
  --promo-heading-text-color: var(--promo-message-text-color);
  --promo-background-color: color-mix(in lch, currentColor 8%, transparent);
  --promo-border: var(--promo-border-width) solid var(--promo-border-color);
  --promo-border-color: color-mix(in lch, currentColor 8%, transparent);
  --promo-border-width: var(--border-width);
  --promo-border-radius: var(--border-radius-medium);
  --promo-image-dimension: var(--size-image-xlarge);
  --promo-image-dimension-large: calc(2 * var(--size-image-xlarge));
  --promo-padding: var(--space-medium);

  @media (prefers-contrast) {
    --promo-background-color: var(--background-color-canvas);
    --promo-message-text-color: var(--text-color);
    --promo-border-color: var(--border-color);
  }
}

/* MozPromo layout */

.container {
  background-color: var(--promo-background-color);
  border: var(--promo-border);
  border-radius: var(--promo-border-radius);
  color: var(--promo-message-text-color);
  display: flex;
  flex-direction: row;
  gap: var(--space-medium);
  align-items: center;
  overflow: hidden;
}

.text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-xsmall);
}

.image-container {
  width: var(--promo-image-dimension);
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

:host([type="vibrant"]) {
  --promo-message-text-color: light-dark(var(--color-violet-80), var(--color-violet-0));
  --promo-heading-text-color: var(--promo-message-text-color);
  --promo-background-color: light-dark(var(--color-violet-0), var(--color-violet-90));
  --promo-border-color: var(--color-violet-30);
}

:host([imagedisplay="cover"]) {
  .image-container {
    align-items: stretch;
  }

  .text-container {
    padding: var(--promo-padding);
  }

  img {
    object-fit: cover;
    object-position: var(--promo-image-position, bottom right);

    :host([imagealignment="end"]) & {
      object-position: var(--promo-image-position, bottom left);
    }
    :host([imagealignment="center"]) & {
      object-position: var(--promo-image-position, top center);
    }
  }
}

:host([imagedisplay="padded"]) {
  .text-container {
    padding: 0;
  }

  .container {
    padding: var(--promo-padding);
  }
}

:host([imagealignment="center"]) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    align-self: center;
  }
}

:host([imagealignment="center"][imagedisplay="cover"]) {
  .image-container {
    width: 100%;
    height: var(--promo-image-dimension);
  }
}

:host([imagewidth="large"]) {
  --promo-image-dimension: var(--promo-image-dimension-large);
}

/* MozPromo heading style */

.heading {
  color: var(--promo-heading-text-color);
  margin-block: 0;
}

/* MozPromo message styles */

.message {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  margin: 0;
  align-items: center;

  &:has(slot:has-slotted) {
    gap: var(--space-small);
  }
}

/* MozPromo slot styles */

.actions-and-support-link-wrapper {
  display: none;
  gap: var(--space-small);
  align-items: baseline;
}

.actions-and-support-link-wrapper.active {
  display: flex;
}
