/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  position: relative;
  display: block;

  --moz-reorderable-list-indicator-height: 2px;
}

.indicator {
  height: var(--moz-reorderable-list-indicator-height);
  background-color: var(--color-accent-primary);
  pointer-events: none;
  margin-block: calc(-1 * var(--moz-reorderable-list-indicator-height));
  width: 4em;
  position: absolute;
  z-index: 1;
  top: 0;
}
