/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

moz-box-item {
  --box-padding: var(--space-large);
}

.placeholder-container,
.text-container {
  display: flex;
}

.placeholder-container {
  gap: var(--space-large);
  align-items: center;
}

.text-container {
  gap: var(--space-xsmall);
  text-align: start;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 100px;
}

.label:has(+ .support-link),
.description:has(+ .support-link) {
  margin-inline-end: var(--space-xsmall);
}

.description {
  color: var(--text-color-deemphasized);
}
