/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:host {
  display: block;
  width: 100%;
  min-width: 0;
}

.chip-container {
  min-width: 0;
}

.scroller {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  min-width: 0;
}

.scroller > slot {
  display: contents;
}

::slotted(*) {
  flex: 0 0 auto;
}
