name: Update
on:
  schedule:
    - cron: "0 6 * * *" # Daily at 6AM UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
      - name: Checkout mozilla-firefox/firefox
        uses: actions/checkout@v3
        with:
          repository: mozilla-firefox/firefox
          path: firefox
      - name: Main steps
        run: |
          cd firefox
          echo "git revision" && git log -1 --format='%H'
          ./mach --no-interactive bootstrap
          ./mach --no-interactive build
          ./mach storybook build
      - name: Delete old docs
        run: |
          rm -rf docs
      - name: Move built Storybook
        run: >
          mv firefox/browser/components/storybook/storybook-static docs
      - name: Commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs
          git commit -m "$(git -C ./gecko show -s --format=%cs)"
          git push
