.fds-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.fds-button--primary {
  color: white;
  background-color: #0060df;
}
.fds-button--secondary {
  color: #333;
  background-color: rgba(207,207,216,.33);
}

.fds-button--small {
  font-size: 11px;
  padding: 4px 8px;
}
.fds-button--medium {
  font-size: 13px;
  padding: 8px 16px;
}
